@model ReminderApp.Entities.Reminder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reminder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CronExpression" class="control-label"></label>
                <input asp-for="CronExpression" class="form-control" />
                <span asp-validation-for="CronExpression" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfTimes" class="control-label"></label>
                <input asp-for="NumberOfTimes" class="form-control" />
                <span asp-validation-for="NumberOfTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enabled" class="control-label"></label>
                <input asp-for="Enabled" class="form-control" />
                <span asp-validation-for="Enabled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

