@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


/* Global Variales */
:root {
    /* Colors */
    --color-beige: #D7CEAF;
    --color-lightbeige: #EEEADE;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-darkbeige: #C2B894;
    --color-lightbrown: #A49974;
    --color-brown: #746A41;
    --color-darkbrown: #514619;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Signika', sans-serif;
    background-color: var(--color-beige);
}

header {
    background-color: var(--color-darkbrown);
    height: 30%;
}

.movie {
    margin-right: 10%
}