/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
}

/* Perfil */
#perfil {
    position: relative;
}

#perfil-foto {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

/* Iconos de redes sociales */
.iconos {
    display: flex;
    background-color: #333;
    align-items: center;
    padding: 20px;
}

.iconos h1 {
    font-size: 36px;
    color: white;
    margin-left: 20px;
    font-weight: 400;
}

.iconos a {
    margin: 0 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Informaci贸n de trabajo */
.trabajo {
    background-color: black;
    color: white;
    padding: 20px;
}

.trabajo h2 {
    font-size: 24px;
    margin: 0;
}

/* Navegaci贸n */
.seccion {
    display: flex;
    background-color: #333;
}

.seccion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.seccion li {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.seccion a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
}

/* Estilos de enlaces de navegaci贸n */
.seccion li.home-nav a { background-color: blue; }
.seccion li.resume-nav a { background-color: green; }
.seccion li.work-nav a { background-color: #ffc107; }
.seccion li.contact-nav a { background-color: red; }

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para la secci贸n de bienvenida */
.welcome-section {
    background-color: blue;
    color: white;
    padding: 40px;
    text-align: left;
}
.skills-section {
    background-color: white;
    padding: 40px;
    text-align: left;
}

.skills-section h2 {
    font-size: 36px;
    margin: 0;
}
.skill-bar {
    margin-bottom: 20px;
}

.skill-label {
    display: inline-block;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
}

.bar-container {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    height: 100%;
}

.bar-html {
    background-color: #1a30ef;
    width: 90%;
}

.bar-css {
    background-color: #1a30ef;
    width: 80%;
}

.bar-js {
    background-color: #1a30ef;
    width: 70%;
}

.bar-php-half {
    background-color: #1a30ef;
    width: 50%;
}

.bar-python-half {
    background-color: #1a30ef;
    width: 50%;
}
footer {
    background-color: #333;
    padding: 40px;
    position: relative;
    margin-left: -8px;
    margin-right: -8px;
}

.download-resume {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #333;
}

.download-resume i {
    margin-right: 10px;
}

i.fas.fa-cloud-download-alt {
    color: white;
    font-size: 15px;
}






