body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #f0f0f0;
}

/* Perfil */
#perfil {
    position: relative;
}

#perfil-foto {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

/* Iconos de redes sociales */
.iconos {
    display: flex;
    background-color: #333;
    align-items: center;
    padding: 20px;
}

.iconos h1 {
    font-size: 36px;
    color: white;
    margin-left: 20px;
    font-weight: 400;
}

.iconos a {
    margin: 0 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Información de trabajo */
.trabajo {
    background-color: black;
    color: white;
    padding: 20px;
}

.trabajo h2 {
    font-size: 24px;
    margin: 0;
}

/* Navegación */
.seccion {
    display: flex;
    background-color: #333;
}

.seccion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.seccion li {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.seccion a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
}

/* Estilos de enlaces de navegación */
.seccion li.home-nav a { background-color: blue; }
.seccion li.resume-nav a { background-color: green; }
.seccion li.work-nav a { background-color: #ffc107; }
.seccion li.contact-nav a { background-color: red; }
.my-work-section {
    background-color: yellow;
    color: #333;
    text-align: left;
    padding: 40px;
}

.my-work-section h2 {
    font-size: 36px;
    margin: 0;
}
.what-have-i-build-section {
    background-color: white;
    color: #333;
    text-align: left;
    padding: 40px;
}

.what-have-i-build-section .titulo {
    background-color: white;
    color: #333;
    padding: 10px;
    width: fit-content;
}
.worked{
    position: relative;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}

    .worked::after {
        content: '';
        position: absolute;
        bottom: -12px; 
        left: 30px; 
        right: 30px; 
        border-bottom: 1px solid grey; 
    }

    .worked h1,
    .worked p{
        position: relative;
        color: black; 
        margin-left: 30px;
    }
    
.collage {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.row img {
    width: calc(25% - 10px); /* Tamaño para cuatro imágenes por fila */
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.work {
    position: relative;
    background-color: rgb(65, 11, 65);
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid white;
    margin-top: 40px;
}

.work h1,
.work p {
    position: relative;
    color: white;
    margin-left: 30px;
}

.build {
    position: relative;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.build::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 30px;
    right: 30px;
    border-bottom: 1px solid grey;
}

.build h1,
.build p {
    position: relative;
    color: black;
    margin-left: 30px;
}
footer {
    background-color: #333;
    padding: 40px;
    position: relative;
    margin-left: -8px;
    margin-right: -8px;
}

.download-resume {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #333;
}

.download-resume i {
    margin-right: 10px;
}

i.fas.fa-cloud-download-alt {
    color: white;
    font-size: 15px;
}







    
    
    
    
    
    
