.benefits {
  display: flex;
  text-align: center;

  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg,  rgb(26, 20, 58), rgb(26, 20, 58));
  padding-bottom: 80px;
}

.benefits p {
  color: #f1f1f1;
  padding-top: 60px;
  font-size: 1.5em;
}

.benefitsTitle {
  font-size: 3em;
  font-weight: 400;
  color: #f1f1f1;
}


