.howWeWork {
  display: flex;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, rgb(109, 108, 108), rgb(180, 180, 180));
}

.webImage {
  width: 298px;
  height: 193px;
  padding-bottom: 80px;
}

.car p {
  color: #f1f1f1;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 60px;
}

@media (min-width: 800px) {
  .car p {
    font-size: 2.5em;
  }
  .webImage {
    width: 596px;
    height: 386px;
  }
}
