.home {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(52, 41, 112), rgb(26, 20, 58));
  padding: 20px 20px 200px;
  align-items: center;
}
.titleContainer {
  padding-top: 80px;
}

.home p {
  font-size: 2.5em;
  color: #f1f1f1;
}

.callToAction {
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 7%;
  margin-left: 20px;
  transition: 0.5s;
  color: inherit; /* Hereda el color del elemento padre */

}

.callToAction:hover {
  padding: 15px;
  cursor: pointer;
}

.ctaContainer {
  padding-top: 40px;
}
