.howWeWork {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  background: linear-gradient(180deg,  rgb(26, 20, 58), rgb(26, 20, 58));
}

.title {
  font-size: 3em;
  color: #f1f1f1;
  font-weight: 400;
  text-align: center;
}

.carouselImage {
  
  height: 400px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Ajusta el comportamiento de la imagen (cover, contain, etc.) */
  border-radius: 50px; /* Ajusta el radio del borde según tus preferencias */
}

/* HowWeWork.module.css */

.carousel-inner {
  transition: none !important;
}
