<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resum</title>
    <link rel="stylesheet" href="../../../../public/styles/resume.css">
</head>

<body>

    <!-- Create a contenedor -->
    <div class="resume">
        <div class="resume_container">
            <h1 class="resume_container_title">My Resume</h1>
            <p class="resume_container_paragraph">My resume is an innovative creation of apps and systems in IT
                technology
            </p>
        </div>

        <div class="resume_container_2">
            <h1 class="resume_container_title">Where Have I Worked?</h1>
            <p class="resume_container_paragraph">Creating solutions in software and architectural constructions</p>
        </div>

        <div class="resume_container_3">
            <!-- Create a card-->
            <div class="resume_card">
              <div class="resume_card_2">
                    <h2 class="card_title">Project Title</h2>
                    <p class="card_paragraph">This is a brief description of the project.</p>
                    <div class="card_buttons">
                        <button class="card_button">Position</button>
                        <button class="card_button">Phone</button>
                    </div>
                </div>

                <div class="card_content_date">
                    <p class="card_date">Date: August 2023</p>
                </div>
            </div>

            <!-- Create a card-->
            <div class="resume_card">
                <div class="resume_card_2">
                    <h2 class="card_title">Project Title</h2>
                    <p class="card_paragraph">This is a brief description of the project.</p>
                    <div class="card_buttons">
                        <button class="card_button">Position</button>
                        <button class="card_button">Phone</button>
                    </div>
                </div>

                <div class="card_content_date">
                    <p class="card_date">Date: August 2023</p>
                </div>
            </div>

            <!-- Create a card-->
            <div class="resume_card">
                <div class="resume_card_2">
                    <h2 class="card_title">Project Title</h2>
                    <p class="card_paragraph">This is a brief description of the project.</p>
                    <div class="card_buttons">
                        <button class="card_button">Position</button>
                        <button class="card_button">Phone</button>
                    </div>
                </div>

                <div class="card_content_date">
                    <p class="card_date">Date: August 2023</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>