<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../../../public/styles/home.css">
</head>

<body>
    <!-- Create a contenedor -->
    <div class="home">
        <div class="home_container">
            <h1 class="home_container_title">Welcome To My Page</h1>
            <p class="home_container_paragraph">Developen and creations apps of systems</p>
        </div>

        <div class="home_container_2">
            <h1 class="home_container_title">My Skills</h1>
            <p class="home_container_paragraph">Developen and creations apps of systems</p>
        </div>

        <!-- Horizontal line -->
        <hr>

        <div class="home_container_3">
            <!-- Skill: Skill HTML -->
            <div class="skill">
                <div class="skill_name">HTML</div>
                <div class="progress">
                    <div class="progress_bar" style="width: 100%;">100%</div>
                </div>
            </div>
            <!-- Skill: Skill CSS -->
            <div class="skill">
                <div class="skill_name">CSS</div>
                <div class="progress">
                    <div class="progress_bar" style="width: 100%;">100%</div>
                </div>
            </div>
            <!-- Skill: Skill JavaScript -->
            <div class="skill">
                <div class="skill_name">JavaScript</div>
                <div class="progress">
                    <div class="progress_bar" style="width: 90%;">90%</div>
                </div>
            </div>
            <!-- Skill: Skill PHP -->
            <div class="skill">
                <div class="skill_name">PHP</div>
                <div class="progress">
                    <div class="progress_bar" style="width: 50%;">50%</div>
                </div>
            </div>
            <!-- Skill: Skill Python -->
            <div class="skill">
                <div class="skill_name">Python</div>
                <div class="progress">
                    <div class="progress_bar" style="width: 70%;">70%</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>