.imagen{
    width: 420px;
    height: 420px;
    border: 0;
    padding: 0;
    margin: 0;
}
.name{
    font-size: 69px;
    color: #ffffff;
    padding-left: 50px;
    padding-top: 20px;
}
span{
    background-color: #333333;
    display: flex;
    height: 130px;
    align-content: top;
}
.x{
    width: 30px;
    height: 30px;
    padding-left: 600px;
}
.insta{
    width: 30px;
    height: 30px;
    padding-left: 50px;
}
.facebook{
    width: 30px;
    height: 30px;
    padding-left: 50px;
}
.github{
    width: 30px;
    height: 30px;
    padding-left: 50px;
}
a{
    color: #333333;
}
.desc{
    font-size: 32px;
    color: #ffffff;
    padding-left: 475px;
    padding-top: 10px;
}
.carrera{
    background-color: #000000;
    display: flex;
    height: 60px;
    align-content: top;
}
.home{
    background-color: #008cff;
    display: auto;
    height: 230px;
    width: 230px;
    align-content: top;
    padding-left: 420px;
}
.homepage{
    color: rgb(0, 0, 0, 0);
    background-color: rgb(0, 0, 0, 0);
    border: none;
    display: flex;
}
.casa{
    width: 40px;
    height: 40px;
    align-self: center;
    display: flexbox;
    margin: none;
    border: none;
    padding-right: 20px;
}
.hometext{
    font-size: 16px;
    color: #ffffff;
    align-self: center;
    padding-top: 100px;
    padding-left: 90px;
}