html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.yellow-bg {
    background-color: yellow;
}

.green-bg {
    background-color: green;
}

.blue-bg {
    background-color: blue;
}

.gray-bg {
    background-color: gray;
}

.red-bg {
    background-color: red;
}

.svg-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}