html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.balance-negative {
    color: red;
}

.btn-action {
    margin-right: 5px; 
    display: inline-block; 
    white-space: nowrap; 
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

.btn-editar {
    background-color: #FFEB9C;
}

.btn-verde {
    background-color: #B4E392; 
}

.btn-retirar {
    background-color: #91C5FC; 
}

.btn-gris {
    background-color: #D3D3D3; 
}

.btn-eliminar {
    background-color: #FFC1C1;
}