@model BDayReminderMVC.Models.Friend

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Friend</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <div>
                    <div class="form-check form-check-inline">
                        <input asp-for="Sex" type="radio" class="form-check-input" value="male" id="maleRadio" />
                        <label class="form-check-label" for="maleRadio">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="Sex" type="radio" class="form-check-input" value="female" id="femaleRadio" />
                        <label class="form-check-label" for="femaleRadio">Female</label>
                    </div>
                </div>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>

            <style>
                .relation-button {
                    margin-right: 5px; /* Espacio entre los botones de relación */
                    background-color: white; /* Fondo blanco */
                    color: #000; /* Color del texto negro */
                    border: 1px solid #ccc; /* Borde gris */
                }

                .relation-label {
                    display: inline-block;
                    margin-right: 5px; /* Espacio entre las etiquetas de relación */
                }

                /* Cambia el color de fondo de los botones seleccionados */
                .active {
                    background-color: #008080; /* Cambia este color según tus preferencias */
                    color: white; /* Cambia el color del texto a blanco */
                }

                .remove-button {
                    background-color: #ff0000; /* Color de fondo del botón Remove */
                    color: white; /* Color del texto del botón Remove */
                    border: none; /* Sin borde */
                    margin-left: 5px; /* Espacio entre el botón Remove y las relaciones seleccionadas */
                    cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
                }
            </style>

            <div class="form-group">
                <label asp-for="Relations" class="control-label">Relations</label>
                <div>
                    <div id="selectedRelations" class="mb-2">
                        <!-- Aquí se mostrarán las relaciones seleccionadas -->
                    </div>
                    <div id="customRelations" class="d-flex mb-2"></div> <!-- Contenedor para las nuevas etiquetas de relación -->

                    <div class="d-flex">
                        
   
                        <!-- Agrega más botones según sea necesario -->
                    </div>

                    <div class="d-flex mt-2">
                        <input type="text" id="customRelationInput" class="form-control mr-2" placeholder="Custom Relation">
                        <button type="button" class="btn btn-success" onclick="addCustomRelation()">Add Relation</button>
                        <button type="button" class="btn btn-danger remove-button ml-2" onclick="removeSelectedRelations()">Remove</button>
                    </div>
                </div>
                <input asp-for="Relations" id="relationsInput" type="hidden" />
                <span asp-validation-for="Relations" class="text-danger"></span>
            </div>

            <script>
                var selectedRelations = [];
                var selectedRelation; // Variable para mantener la relación seleccionada

                // Recuperar selecciones almacenadas al cargar la página
                var storedSelection = localStorage.getItem('selectedRelations');
                if (storedSelection) {
                    selectedRelations = JSON.parse(storedSelection);
                    updateSelectedRelations();
                }

                function selectRelation(relation) {
                    var buttons = document.querySelectorAll('.btn.relation-button');
                    buttons.forEach(function (button) {
                        button.classList.remove('active'); // Quita la clase 'active' de todos los botones
                    });

                    var selectedButton = document.querySelector('button[data-relation="' + relation + '"]');
                    selectedButton.classList.add('active'); // Agrega la clase 'active' al botón seleccionado
                    selectedRelation = relation; // Actualiza la relación seleccionada

                    var relationsInput = document.getElementById('relationsInput');
                    relationsInput.value = relation;

                    // Guardar la selección en el almacenamiento local
                    localStorage.setItem('selectedRelations', JSON.stringify(selectedRelations));
                }

                function addCustomRelation() {
                    var customRelationInput = document.getElementById('customRelationInput');
                    var customRelation = customRelationInput.value.trim();

                    if (customRelation) {
                        selectedRelations.push(customRelation);
                        customRelationInput.value = ''; // Limpia el input
                        updateSelectedRelations();

                        // Guardar la selección en el almacenamiento local
                        localStorage.setItem('selectedRelations', JSON.stringify(selectedRelations));
                    }
                }

                function updateSelectedRelations() {
                    var customRelationsDiv = document.getElementById('customRelations');
                    customRelationsDiv.innerHTML = '';

                    // Etiquetas de relación seleccionadas
                    selectedRelations.forEach(function (relation) {
                        var button = document.createElement('button');
                        button.type = 'button';
                        button.className = 'btn relation-button';
                        button.innerText = relation;
                        button.setAttribute('data-relation', relation);
                        button.addEventListener('click', function () {
                            selectRelation(relation); // Al hacer clic, selecciona la etiqueta
                        });

                        customRelationsDiv.appendChild(button);
                    });

                    relationsInput.value = selectedRelations.join(', '); // Actualiza el valor oculto
                }

                function removeSelectedRelations() {
                    if (selectedRelation) {
                        var index = selectedRelations.indexOf(selectedRelation);
                        if (index !== -1) {
                            selectedRelations.splice(index, 1);
                            updateSelectedRelations();

                            // Guarda la selección actualizada en el almacenamiento local
                            localStorage.setItem('selectedRelations', JSON.stringify(selectedRelations));
                        }
                    }
                }
            </script>

            <div class="container">
                <h5>Barra de Progreso de Días Restantes</h5>
                <input type="range" class="form-range" id="daySlider">
                <p><strong>Días Restantes: <span id="daysRemaining">0</span></strong></p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <!-- Agrega los scripts de Bootstrap si aún no los tienes -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script> -->

            <script>
                // Fecha objetivo
                var targetDate = new Date("2023-12-31");

                // Función para calcular la cantidad de días hasta la fecha objetivo
                function calculateDaysUntilTarget() {
                    var currentDate = new Date();
                    var timeDiff = targetDate.getTime() - currentDate.getTime();
                    var daysDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));
                    return daysDiff;
                }

                // Función para actualizar la barra de progreso y el contador de días restantes
                function updateProgressBar() {
                    var daysUntilTarget = calculateDaysUntilTarget();
                    var totalDays = (targetDate.getTime() - new Date(targetDate.getFullYear(), 0, 1).getTime()) / (1000 * 3600 * 24);
                    var progress = ((totalDays - daysUntilTarget) / totalDays) * 100;

                    var progressBar = document.querySelector(".progress-bar");
                    progressBar.style.width = progress + "%";
                    progressBar.setAttribute("aria-valuenow", progress);

                    // Actualizar el contador de días restantes
                    var daysRemainingElement = document.getElementById("daysRemaining");
                    daysRemainingElement.textContent = daysUntilTarget;
                }

                // Función para manejar el cambio en el slider
                function handleSliderChange() {
                    var slider = document.getElementById("daySlider");
                    var daysRemaining = parseInt(slider.value);

                    // Actualizar la fecha objetivo según la cantidad de días restantes seleccionados
                    targetDate = new Date();
                    targetDate.setDate(targetDate.getDate() + daysRemaining);

                    // Actualizar la barra de progreso
                    updateProgressBar();
                }

                // Asignar el manejador de eventos al slider
                var slider = document.getElementById("daySlider");
                slider.addEventListener("input", handleSliderChange);

                // Actualizar la barra de progreso al cargar la página
                window.onload = updateProgressBar;
            </script>





            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoData" class="control-label"></label>
                <input asp-for="PhotoData" type="file" class="form-control" accept="image/*">
                <span asp-validation-for="PhotoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
            
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
