@model BDayReminderMVC.Models.Friend

@{
    ViewData["Title"] = "Edit";
    ViewData["RelationsFriends"] = Model.Relations;
}
<div class="container mt-5 w-100">
    <div class="justify-content-center w-100">
        <form id="registrationForm" class="row g-3 justify-content-center" asp-controller="Friends" asp-action="Edit">
            <div class="col-md-4">
                <div class=" d-flex align-items-center justify-content-center mb-2">
                    <img id="imagePreview" class="w-100" src="/images/Photos/@Model.Photo" alt="Image Preview">
                </div>

                <div class="input-group">
                    <input asp-for="Photo" type="text" class="form-control" id="imageInput" name="Photo" placeholder="Photo.png">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                    <button type="button" class="btn btn-outline-secondary" id="uploadBtn">
                        <i class="bi bi-cloud-upload"></i>
                    </button>
                </div>

            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">@Html.DisplayNameFor(model => model.FirstName)</label>
                        <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label fw-bold">@Html.DisplayNameFor(model => model.LastName)"</label>
                        <input asp-for="LastName" type="text" class="form-control" id="LastName" placeholder="Last Name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="dateOfBirth" class="form-label"><strong>Date of Birth</strong></label>
                        <input asp-for="DateOfBirth" type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <h3 class=""><strong style="font-size: 1.25rem;">Gender</strong></h3>
                        <div class="form-check form-check-inline">
                            <input asp-for="Gender" value="M" type="radio" class="form-check-input" name="Gender" id="radioMale">
                            <label class="form-check-label" for="radioMale">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input asp-for="Gender" value='F' type="radio" class="form-check-input" name="Gender" id="radioFemale">
                            <label class="form-check-label" for="radioFemale">Female</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 d-flex">
                                <label for="customRange1" class="form-label fw-bold">Remain Days:</label>
                            </div>

                            <div class="col-6 d-flex">
                                <input type="range" class="form-range me-2" min="0" max="100" value=@ViewData["daysRemainingPercent"] id="Range" disabled>
                            </div>

                            <div class="col-2 d-flex">
                                <input type="text" class="form-control" placeholder="000" value=@ViewData["DaysRemaining"] aria-label="Value" disabled>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="input-group mb-3 align">
                        <label class="form-label fw-bold mx-2">Relations</label>
                        <a class=""> <i class="bi bi-plus-circle-fill" disabled></i></a>
                        <a class="mx-1"> <i class="bi bi-dash-circle-fill " disabled></i> </a>
                        @foreach (var Relation in Model.Relations)
                        {
                            <button class="btn-white rounded mx-1" disabled>@Relation</button>
                        }
                    </div>
                    <div class="d-flex flex-wrap" id="relationList"></div>
                </div>
            </div>
            <div class="d-flex justify-content-end col-12 mt-4 p-0">
                <button type="submit" class="btn btn-primary py-2 my-2 px-4 fw-bold">Edit</button>
                <a asp-action="Index" id="btnCancel" class="btn btn-danger py-2 my-2 px-4 mx-2 fw-bold d-flex align-items-center justify-content-center">Cancel</a>
            </div>
        </form>
    </div>
</div>

