/* register.css */

.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa; /* Paleta verde, ajusta el color según tu preferencia */
    margin-top: 50px;
  }
  
  .register-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  