@model MovieRank.Models.User;

<<<<<<< HEAD
<h2> Login with your account </h2>
<form asp-controller="User" asp-action="Login" method="post">
    <div class="form-group">
        <label for="UserEmail">Correo Electrónico</label>
        <input type="email" class="form-control" id="UserEmail" name="UserEmail" required>
    </div>
    <div class="form-group">
        <label for="Password">Contraseña</label>
        <input type="password" class="form-control" id="Password" name="Password" required>
    </div>
    <div class="d-flex justify-content-center align-content-center pb-2 mb-5">
        <button type="submit" class="btn btn-primary pt-2" style="width: 50%">Iniciar Sesión</button>
    </div>
</form>
=======
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center mb-4">
                    <img src="/Public/Icon/person-circle.svg" width="100px"; height="100px" alt="Logo de la empresa" class="img-fluid">
                </div>
                <div class="card-header text-center">
                    <h2>Iniciar Sesión</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="Login" method="post">
                         @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label for="userEmail" class="form-label">Correo Electrónico</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-envelope"></i>
                                </span>
                                <input type="email" class="form-control" id="userEmail" name="userEmail" required>
                            </div>
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-lock"></i>
                                </span>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center">
                    <a asp-controller="Account" asp-action="Register">Register</a>
                </div>

                <div class="card-footer text-center">
                    <a asp-controller="Account" asp-action="ForgotPassword">¿Olvidaste tu contraseña?</a>
                </div>

            </div>
        </div>
    </div>
</div>
>>>>>>> origin/main
