@model MovieRank.Models.User;

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center mb-4">
                    <img src="/Public/Icon/person-circle.svg" width="100px" height="100px" alt="Logo de la empresa" class="img-fluid">
                </div>
                <div class="card-header text-center">
                    <h2>Registrarse</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <div class="mb-3">
                            <label for="userEmail" class="form-label">Correo Electrónico</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-envelope"></i>
                                </span>
                                <input type="email" class="form-control" id="userEmail" name="userEmail" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-person"></i>
                                </span>
                                <input type="text" class="form-control" id="firstName" name="firstName" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Apellido</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-person"></i>
                                </span>
                                <input type="text" class="form-control" id="lastName" name="lastName" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-lock"></i>
                                </span>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-lock"></i>
                                </span>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>

                        <!-- Button redirect login -->
                        <div class="text-center">
                            <a asp-controller="Account" asp-action="Login">¿Ya tienes una cuenta?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>