/* Estilos para la imagen y el título del navbar */
.navbar_container {
  background-color: #373839;
  display: grid;
  grid-template-columns: auto 1fr; /* Primera columna para la imagen, segunda columna para el resto */
  align-items: center;
  height: 370px;
}

.navbar_logo {
  width: 510px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 505px;
}

/* Estilos para el contenedor del perfil y los iconos de redes sociales */
.navbar_profile {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-between;
}

.navbar_name_perfil {
  font-size: 50px;
  color: white;
  margin-left: 40px;
  display: flex;
  justify-content: left;
}

/* Estilos para los logos de las redes sociales */
.socials {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas proporcionales */
  grid-gap: 100px; /* Espacio entre los iconos */
  padding: 10px;
  margin-right: 90px;
}

.socials_icon img {
  width: 100%; /* Ajusta el tamaño de los iconos según tus necesidades */
}

/* Estilos para el párrafo del navbar */
.navbar_paragraph {
  background-color: black;
  height: 71px;
}

.navbar_paragraph:hover {
  background-color: #23202d;
}

/* Estilos para el titulo del parrafo */
.navbar_paragraph_title {
  font-size: 20px;
  color: white;
  margin-top: 35px;
  padding: 25px;
}

/* Estilos para el menú de items */
.navbar_menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas proporcionales */
}

/* Estilos para los ítems del menú */
.navbar_menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white; /* Color del texto de los ítems */
  background-color: #333; /* Color de fondo de los ítems */
  height: 195px;
  text-decoration: none;
  position: relative; /* Posicionamos el ícono de manera relativa */
}

/* Estilo para el icono SVG */
.navbar_menu_item svg {
  fill: white; /* Color del ícono */
  width: 48px; /* Ajustamos el tamaño del ícono */
  height: 48px;
  margin-bottom: 5px; /* Espacio entre el ícono y el texto */
}

/* Estilo para el nombre del ítem */
.navbar_menu_item a {
  margin: 0;
  color: white; /* Color del texto del enlace (blanco en este caso) */
  text-decoration: none; /* Quita el subrayado del enlace */
}

/* Colores para cada columna del menú */
#navbar_home {
  background-color: #2172e5;
}

#navbar_resume {
  background-color: #26a136;
}

#navbar_work {
  background-color: #e2a212;
}

#navbar_contact {
  background-color: #db4141;
}

/* Cambiar el color al pasar el cursor por encima */
#navbar_home:hover {
  background-color: #23202d;
}

#navbar_resume:hover {
  background-color: #23202d;
}

#navbar_work:hover {
  background-color: #23202d;
}

#navbar_contact:hover {
  background-color: #23202d;
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  .navbar_container {
    grid-template-columns: 1fr; /* Unica columna para dispositivos móviles */
    height: auto; /* Altura automática para adaptarse al contenido */
  }

  .navbar_logo {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    height: 400px; /* Altura automática para adaptarse al ancho */
  }

  .navbar_profile {
    flex-direction: column; /* Apilamos el contenido en dispositivos móviles */
    align-items: center; /* Alineamos el contenido al centro */
    margin: 10px; /* Margen reducido */
    justify-content: center; /* Centramos el título */
  }

  .navbar_name_perfil {
    margin-left: 0; /* Eliminamos el margen izquierdo */
    margin-bottom: 5px; /* Margen inferior reducido */
    text-align: center; /* Centramos el título */
    font-size: 24px; /* Tamaño del título reducido */
  }

  .socials {
    margin-right: 0; /* Eliminamos el margen derecho */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas proporcionales */
    grid-gap: 10px; /* Espacio entre los iconos reducido */
  }

  .navbar_menu {
    grid-template-columns: repeat(1, 1fr); /* Unica columna */
  }

  .navbar_menu_item {
    height: auto; /* Altura automática para adaptarse al contenido */
    font-size: 24px; /* Tamaño del texto reducido */
  }

  .navbar_menu_item svg {
    width: 32px; /* Tamaño del ícono reducido */
    height: 32px;
    margin-bottom: 5px;
  }

  .navbar_paragraph_title {
    margin-top: 10px; /* Margen superior de 10px */
    padding: 10px; /* Padding reducido */
    font-size: 18px; /* Tamaño del texto reducido */
  }
}
