@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }
    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
    .imgRedonda {
        width: 300px;
        height: 300px;
        border-radius: 150px;
    }
}