@model IEnumerable<BDayReminderMVC.Models.User>



@{
    ViewData["Title"] = "Index";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <main class="form-signin w-100 m-auto">
    <form asp-action="Create">
            <img class="mb-4" src="https://usbcali.edu.co/sites/default/files/logousb-lineas-white-rgb.png" alt=""
                 width="auto" height="100">
            <h1 class="h3 mb-3 fw-normal">Log into your account</h1>

            <div class="mb-3 mt-3">
                <label for="email">User:</label>
                <input type="email" class="form-control" id="email" placeholder="john.doe@email.com" name="email" required>
            </div>
            <div class="mb-3">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="********" name="pswd" required>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit" id="btn-login">Log in</button>

            <p>
            <a asp-action="Create">Register</a>
            </p>
        </form>

    </main>
