@model BDayReminderMVC.Models.User
@{

    Layout = "_LayoutCopia";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/wwwroot/css/site.css" asp-append-version="true" />
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form asp-action="Login" method="post">
            <div>
                <label for="UserEmail">Email:</label>
                <input type="email" id="UserEmail" name="UserEmail" required />
            </div>
            <div>
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="Password" required />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>

        <div class="register-link">
            <a asp-controller="Users" asp-action="Register">Register</a>
        </div>
    </div>
</body>
</html>
