@model BDayReminderMVC.Models.User
@{
    ViewData["Title"] = "Login";
}

<div class="container-md d-flex align-items-center">
    <div class="login col-sm-8 col-md-7 col-lg-4 text-black py-5 my-5 m-auto bg text-center bg-white shadow">
        <div class="row">
            <div class="container mt-3">
                <h1 class="text-center">Login</h1>
                <form asp-area="" asp-controller="Users" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                        <input asp-for="UserName" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    </div>
                     <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
