.chef-img {
    background-image: url('../../../assets/restaurant.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    position: relative;
}

.chef-content {
    position: absolute;
    bottom: 5%;
    padding: 10px;
    background-color: #E21D0E;
    border-radius: 20px; /* Bordes suaves */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
 }
 

.chef-info h4 {
    text-transform: uppercase;
}

.chef-info p {
    padding-top: 10px;
}