body{
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-section{
  display: flex;
  flex-flow: column;
  margin: 0;
  width: 100%;
  height: 25%;
  color: #ffffff;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
}

#home-header{
  background-color: #0583F2;
}

#resume-header{
  background-color: #29A63C;
}

#work-header{
  background-color: #F2A20C;
}

#contact-header{
  background-color: #D93654;
}

.title-section{
    margin: 0;
    font-size: 1.5vw;
}

.title-language{
    margin-top: 1.5%;
    font-size: 1.7vw;
}

.description-section{
    margin-top: 0.5%;
    font-size: 1vw;
}

main{
    padding-top: 3%;
    padding-left: 3% ;
    padding-right: 3%;
    background-color: #ffffff;
    height: 100vw;
}


#skills{
    border-top: 1px solid rgb(207, 207, 207);
    margin-top: 3%;
}

.progress-bar {
    display: flex;
    width: 100%; 
    height: 1.2vw; 
    background-color: #f0f0f0; /* Background color of the progress bar */
    border-radius: 1px; /* Rounded corners to give a nice look */
    position: relative; /* Required for positioning the pseudo-element */
  }
  
  #bar-html5::before {
    content: "";
    display: block;
    height: 100%;
    width: 80%; 
    background-color: #4CAF50;
    border-radius: inherit;
  }

  #bar-css::before {
    content: "";
    display: block;
    height: 100%;
    width: 60%; 
    background-color: #4CAF50;
    border-radius: inherit;
  }

  #bar-javascript::before {
    content: "";
    display: block;
    height: 100%;
    width: 40%; 
    background-color: #4CAF50;
    border-radius: inherit;
  }

  #bar-python::before {
    content: "";
    display: block;
    height: 100%;
    width: 90%; 
    background-color: #4CAF50;
    border-radius: inherit;
  }

  #bar-java::before {
    content: "";
    display: block;
    height: 100%;
    width: 30%; 
    background-color: #4CAF50;
    border-radius: inherit;
  }

  #jobs{
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 25%;
    justify-content: space-between;
  }

  .job-card{
    display: flex;
    width: 28%;
    height: 95%;
    flex-direction: column;
    border: 0.5px solid #acadac;
    
  }
  .job-card-info{
    padding: 4%;  
    height: 90%;
  }

  .title-job{
    margin-top: 1.5%;
    font-size: 1.5vw;
  }

  .hyper-info{
    display: flex;
    height: 20%;
    background-color: #363B40;
    color: #ffffff;
    margin: 0 0 5% 0 ;
    padding: 0 3% 0 3%;
  }

  .description-job{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0.5%;
    font-size: 1vw;
    

  }

  .job-card-date{
    display: flex;
    align-items: center;
    padding: 0 3% 0 3%;
    height: 20%;
    background-color: #ebebeb;
    border-top:  0.5px solid #acadac;
    bottom: 0;
  }