<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../../../../public/styles/navbar.css">
</head>

<body>
    <!-- Creat a Navbar -->
    <nav class="navbar">
        <div class="navbar_container">

            <div class="navbar_img">
                <img class="navbar_logo" src="../../../../public/img/giyutomioka.jpeg" />
            </div>

            <div class="navbar_container_2">
                <div class="navbar_profile">
                    <h1 class="navbar_name_perfil">HacksJuanDavid</h1>
                    <div class="socials">
                        <a class="socials_icon" href="#"><img
                                src="https://img.icons8.com/fluent/48/000000/twitter.png" /></a>
                        <a class="socials_icon" href="#"><img
                                src="https://img.icons8.com/fluent/48/000000/facebook-new.png" /></a>
                        <a class="socials_icon" href="#"><img
                                src="https://img.icons8.com/fluent/48/000000/instagram-new.png" /></a>
                        <a class="socials_icon" href="#"><img
                                src="https://img.icons8.com/fluent/48/000000/github.png" /></a>
                    </div>
                </div>

                <div class="navbar_paragraph">
                    <h1 class="navbar_paragraph_title">Experienced Full Stack Web Developer</h1>
                </div>

                <div>
                    <div class="navbar_menu">
                        <div class="navbar_menu_item" id="navbar_home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                            </svg>
                            <a href="#" onclick="loadComponent('Home', 'content')">Home</a>
                        </div>
                        <div class="navbar_menu_item" id="navbar_resume">
                            <?xml version="1.0" encoding="UTF-8" standalone="no"?> <svg id="_1_-_10" data-name="1 - 10"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                <title>Graduate</title>
                                <g id="Graduate">
                                    <path
                                        d="M44.485,31.5A2.489,2.489,0,0,0,44,27.211V23.79l-2,.85v2.571a2.489,2.489,0,0,0-.485,4.29,2.488,2.488,0,0,0-1.015,2V36a1,1,0,0,0,1,1h3a1,1,0,0,0,1-1V33.5A2.488,2.488,0,0,0,44.485,31.5Z" />
                                    <path
                                        d="M39,25.91v7.4a4.961,4.961,0,0,1-2.4,4.28,24.984,24.984,0,0,1-25.2,0A4.961,4.961,0,0,1,9,33.31v-7.4L21.27,31.1a7.05,7.05,0,0,0,5.46,0Z" />
                                    <path
                                        d="M46.036,15.237l-20.088-8.5a5.029,5.029,0,0,0-3.9,0l-20.088,8.5a3,3,0,0,0,0,5.526l20.088,8.5a5.024,5.024,0,0,0,3.9,0l20.088-8.5a3,3,0,0,0,0-5.526Z" />
                                </g>
                            </svg>
                            <a href="#" onclick="loadComponent('Resume', 'content')">Resume</a>
                        </div>
                        <div class="navbar_menu_item" id="navbar_work">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-folder-fill" viewBox="0 0 16 16">
                                <path
                                    d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                            </svg>
                            <a href="#" onclick="loadComponent('Work', 'content')">Work</a>
                        </div>
                        <div class="navbar_menu_item" id="navbar_contact">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                            </svg>
                            <a href="#" onclick="loadComponent('Contact', 'content')">Contact</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

</body>

</html>