﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~\images\Oppenheimer.jpg" alt="">
</div>

<div class="text-center">
     <img src="https://localhost:5001/images/Oppenheimer.jpg">
    <img src="https://localhost:5001/images/Spider-Man.jpg">
    <img src="https://localhost:5001/images/Talk-to-me.jpg"> 

    <div class="card" style="width: 18rem;">
        <img src="https://localhost:5001/images/Barbie.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go to the list!</a>
        </div>
    </div>

</div>