@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-slide">
            <img src="imagen1.jpg" alt="Imagen 1">
        </div>
        <div class="carousel-slide">
            <img src="imagen2.jpg" alt="Imagen 2">
        </div>
        <div class="carousel-slide">
            <img src="imagen3.jpg" alt="Imagen 3">
        </div>
        <!-- Agrega más imágenes aquí -->
    </div>
</div>

@section Scripts {
    <script src="~/js/script.js"></script>
}
