<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="../../../../public/styles/work.css">
</head>

<body>
    <!-- Create a contenedor -->
    <div class="work">
        <div class="work_container">
            <h1 class="work_container_title">My Work</h1>
            <p class="work_container_paragraph">My work is an innovative creation of apps and systems in IT technology
            </p>
        </div>

        <div class="work_container_2">
            <h1 class="work_container_title">What Have I Built?</h1>
            <p class="work_container_paragraph">Creating solutions in software and architectural constructions</p>
        </div>

        <!-- Image Grid Container -->
        <div class="work_image_grid">
            <img src="../../../../public/img/image1.jpg" alt="Image 1">
            <img src="../../../../public/img/image2.jpg" alt="Image 2">
            <img src="../../../../public/img/image3.jpg" alt="Image 3">
            <img src="../../../../public/img/image4.jpg" alt="Image 4">
            <img src="../../../../public/img/image5.jpg" alt="Image 5">
            <img src="../../../../public/img/image6.jpg" alt="Image 6">
            <img src="../../../../public/img/image7.jpg" alt="Image 7">
            <img src="../../../../public/img/image8.jpg" alt="Image 8">
        </div>
    </div>

</body>

</html>