/* los componentes son extendibles en css  */

.container {
    position: relative;
    display: flex;
    grid-area: gridpics;
    flex-wrap: wrap;
    /*top: 10vh;*/
    justify-content: space-between;
    background-color: #313b42;
    color: #ffe;
    z-index: 1;
}

.gridfotos {
    margin-right: 2vh;
    margin-bottom: 4px;
    border-bottom: 2px solid #9baac72c;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    gap: 6px;
    height: auto;
    margin-left: 3vh;
    width: clamp(60%, 75%, 85%);
    overflow: visible;
    align-items: center;
    justify-content: center;

    /* los media queries se pueden dentro de los selectores :o:o:ooo */
    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(auto-fit, minmax(12vh, 1fr));
    }

}

.gridfotos .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 48%;
    margin-bottom: 10px;
}
    /*
    display: grid;
    justify-content: space-between;
    max-height: 25vw;
    gap: 6px;
    margin-top: 2vh;
    margin-left: 8vh;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-template-rows: 1fr;
}*/

.gridfotos .grid-item img {
  height: auto;
  object-fit: contain; /* no dejamos que escapen de su contenedor */
  border-radius: 12px;
  width: 100%;
  box-shadow: -7px 10px 10px rgba(0, 0, 0, 0.4);
  z-index: 1;
  animation: fadeIn 2s ease-in;
}


/*

.gridfotos img {
    border-radius: 12px;
    box-shadow: -7px 10px 10px rgba(0, 0, 0, 0.4);
    width: 60%;
    aspect-ratio: 1/1;
}
*/
.gridfotos a {
    font-size: 1.3em;
    padding-left: 3%;
}

.gridfotos .grid-item img {
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translateX(20px);}
    100% { opacity: 1; transform: translateX(0px);}
}

.gridbanner {
    width: clamp(25%,30%,40%);
    font-size: 0.9em;
    border-left: double #ffe;
    height: auto;
    margin-top: 2vh;
    margin-left: 5vh;
    flex-basis: clamp(15%, 25%,100%);
    text-align: center;
}

.gridbanner .highlight-box {
    background-color: #566167;
    padding: 1vh 1vh;
    margin: 5% 5%;
    width: auto;
    border-radius: 6px;
}

.gridbanner a {
    font-size: 1.1em;
}

.gridbanner p {
    font-family: 'Roboto', sans-serif;
    transition: transform 1.5s linear;
    text-align: end;
    color: #ffe;
    padding-right: 2vh;
    padding-left: 2vh;
    font-size: 0.9em;

}

.gridbanner p:hover {
    transform: translateX(-2vw) scale(1.1);
    padding-left: 1%
}

.gridfotos .grid-item img {
    transition: transform 1.5s linear;
}

.gridfotos .grid-item img:hover{
    transform: scale(1.5);
    position: fixed;
    z-index: 1;
}

/* visajes para el responsiveness, que visaje.
    se puede usar minmax para que se adapte a la pantalla
    y que no se vea tan mal en celulares */

@media screen and (max-width: 350px) {
    .gridfotos {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 6px;
    }

    .gridfotos .grid-item {
        width: 100%;
    }

    .gridbanner {
        max-width: 40%;
        min-width: 30%;
    }
}

@media screen and (min-width: 351px) and (max-width: 700px) {
    .gridfotos {
        grid-template-columns: repeat(auto-fit, minmax(16vh, 1fr)); 
    }    

}
