/* Si solo se usa iframe, todos los css son innecesarios */
/* al estar luego internos en cada html. */


/* En efecto, no se como hacer para para que la 
pagina cargada en el iframe lea un link 
referenciando un archivo css */

/* Por eso, se usa el css en el html de la pagina, no inline pero internal */
#headerbanner {
    background-color: #0c80fe;
<<<<<<< HEAD
<<<<<<< HEAD
}

/*
#home-subtitulo {
    font-size: 0.9em;
    padding: 3vh;
}

#page-column {
    line-height: 0.9;
}

#skillsdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}

#headerbanner {
    grid-area: header-banner;
    color: yellow;
    position: sticky;
    height: 15vh;
    top: 30vh;
    padding-left: 2vh;
    margin-top: -3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.63em;
    line-height: 0.7;
    z-index: 1; 

}

#headerbanner  span {
    margin-top: -2vh;
}
#headerbanner h1,h2,h3 {
    font-weight: 480;
    font-size: 1.5em;

}
#home-subtitulo {
    font-size: 0.5em;
    padding: 2vh 0 0 2vh;
    margin: 0;
    font-weight: 300;
    padding-right: 2vh;
}

#home-subtitulo h2 {
    font-size: 1.7em;
    font-weight: 430;
    padding-bottom: 1px;
}

#page-column {
    line-height: 0.9;
}

#skillsdiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2px;
    padding-left: 2vh;
    padding-right: 3vh;
    line-height: 0.1;
    font-family: 'Roboto', sans-serif;
}

#skillsdiv label {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
}

#skillsdiv h2 {
    font-size: 1.1em;
    font-family: 'Segoe UI', sans-serif;
}



#skillsdiv .skill {
    width: 100%;
    height: 1.4vh;
    background-color: #e9edf0;
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 4px;
    overflow: hidden;
}

#skillsdiv progress {
    background: #25a347;
    width: 100%;
}

hr {
    color: #dadada;
}

#headerbanner .aligncenter_masuntoque {
    margin-top: -18px;
} */
=======
    z-index: 0;
}
>>>>>>> 1e4f3d28 (esta vez me engomé muchisimo con el css y no he hecho lo principal, que)
=======
    z-index: 0;
}
>>>>>>> 1e4f3d28 (esta vez me engomé muchisimo con el css y no he hecho lo principal, que)
