main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -10px;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    background-color: #353A40;
    color: white;
}

footer{
    display: flex;
    width: 50%;
    align-items: flex-start;
    padding: 20px;
    background-color: #353A40;
}

footer button{
    background-color: white;
    border: 0px;
    display:flex ;
    padding: 4px;
    border-radius: 5%;
}

footer .button-download {
    text-decoration: none;
    background-color: #353A40;
    color: white;
    padding: 10px 24px;
    border: white;
}

.navar-menu{
    display: flex;
    flex-direction: column;
}

.image{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.image #persona{
    width: 285px;
    height: 297px;
}

.personal-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.personal-information h1 {
    margin: 20px;
}

.navar-menu{
    margin: 0px;
}

.navar-menu p {
    padding: 20px;
    background-color: black;
}

.menu{
    margin-top: -30px;
    height: 10vh;
    display: flex;

}

#iframe-selector{
    margin-left: -38px;
    margin-top: -50;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#iframe-selector li{
    margin-left: 0px;
    width: 163px;
    height: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iframe-selector a{
   text-decoration: none;
}

.home {
    background-color: #007AFF;
}

.home a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.resume{
    background-color: #27A844;
}

.resume a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.work{
    background-color: #FEC107;
}

.work a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.contact{
    background-color: #DC3546;
}

.contact a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#social-media{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

#social-media li{
    padding: 0px;
    margin: 0px;
    width: 83px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    width: 50.3%;
    height: 65vh;
}

.social-link img{
    width: 25px;
    height: 25px;
}