main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -10px;

}

header{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    background-color: #353A40;
    color: white;
}

.navar-menu{
    display: flex;
    flex-direction: column;
}

.image{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.image #persona{
    width: 285px;
    height: 297px;
}

.personal-information{
    display: flex;
    flex-direction: row;
}

.personal-information h1 {
    margin: 20px;
}

.navar-menu{
    margin: 0px;
    padding: -10px;
}

.navar-menu p {
    padding: 20px;
    background-color: black;
}

.menu{
    padding: 0px;
    margin: 0px;
    display: flex;
    
}

#iframe-selector{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#iframe-selector li{

    margin-left: 0px;
    width: 163px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#iframe-selector a{
   text-decoration: none;
}

.home {
    background-color: #007AFF;
}

.resume{
    background-color: #27A844;
}

.work{
    background-color: #FEC107;
}

.contact{
    background-color: #DC3546;
}

#social-media{
    display: flex;
    flex-direction: row;
}

#social-media li{
    padding: 0px;
    margin: 0px;
    width: 83px;
    height: 76px;
}