@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Home Parcial</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <style></style>
    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
</head>




    <main oncontextmenu='return false' class='snippet-body'>
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="p-4 text-right">
                        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                           data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button"
                           data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/miguel.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Miguel Angel</h5>

                                                <p class="card-text">
                                                    Ingeniería Multimedia.
                                                </p>
                                                    

                                                    <div class="languages text-center alight align-items-md-center">

                                                        <progress class="knowledge" value="10" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/cata.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Sebastian</h5>

                                                <p class="card-text">
                                                    Ingeniería Multimedia.
                                                </p>
                                                    

                                                    <div class="languages text-center alight align-items-md-center">

                                                        <progress class="knowledge" value="34" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/carlos.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Carlos</h5>

                                                <p class="card-text">
                                                    Ingeniería Multimedia.
                                                </p>
                                                    
                                                    <div class="languages text-center alight align-items-md-center">

                                                        <progress class="knowledge" value="23" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/annie.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Annie</h5>
                                                <p class="card-text">
                                                    Mercado y finanzas.
                                                </p>
                                                    <div class="languages text-center alight align-items-md-center">

                                                        <progress class="knowledge" value="43" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/bianca.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Bianca</h5>
                                                <p class="card-text">
                                                    Relaciones internacionales.
                                                </p>
                                                    <div class="languages text-center alight align-items-md-center">

                                                        <progress class="knowledge" value="89" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/santi.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Santiago</h5>
                                                <p class="card-text">
                                                    Ingeniería Multimedia.
                                                </p>
                                                    <div class="languages text-center alight align-items-md-center">

                                                        <progress class="knowledge" value="14" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/omar.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Omar</h5>
                                                <p class="card-text">
                                                    Ingeniería  Multimedia.
                                                </p>
                                                    <div class="languages text-center alight align-items-md-center">

                                                        <progress class="knowledge" value="22" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/zuni.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Zuñiga</h5>
                                                <p class="card-text">
                                                    Ingeniería Multimedia.
                                                </p>
                                                    <div class="languages text-center alight align-items-md-center">

                                                        <progress class="knowledge" value="33" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <img class="img-fluid" alt="100%x280"
                                                     src="/images/felipe.jpg">
                                                <div class="card-body text-center alight align-items-md-center">
                                                    <h5 class="card-title">Felipe</h5>
                                                <p class="card-text">
                                                    Ingeniería Multimedia.
                                                </p>
                                                    <div class="languages text-center alight align-items-md-center">

                                                    <progress class="knowledge" value="67" max="100"></progress>
                                                    </div>

                                                    <div class="p-4">
                                                        <a href="#" class="btn btn-danger">Details</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>



</html>

