@{
    ViewData["Title"] = "Account";
}

<div class="text-center">
    <h1 class="display-4">Accounts</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Accounts</a>.</p>
</div>
