<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Película</title>
    <style>
        /* Estilos CSS generales */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        /* Estilos para el encabezado */
        h1 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            margin: 0;
        }

        /* Estilos para el contenedor principal */
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex; /* Cambio a flexbox */
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;
        }

        /* Estilos para el contenedor de imagen */
        .image-container {
            width: 200px;
            height: 200px;
            border: 2px solid #000;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
        }

        .image-preview {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }

        /* Estilos para el contenedor de texto */
        .text-div {
            flex-grow: 1; /* Para que crezca y ocupe el espacio disponible */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: 20px;
        }

        /* Estilos para los campos de entrada de texto */
        input[type="text"],
        textarea,
        input[type="number"],
        input[type="range"],
        input[type="file"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }

        /* Estilos para las etiquetas */
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 16px;
        }

        /* Estilos para el botón "Seleccionar archivo" */
        .file-upload-btn {
            width: 100%;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

            .file-upload-btn:hover {
                background-color: #555;
            }

        /* Estilos para el nombre del archivo */
        .file-name {
            font-weight: bold;
            margin-top: 5px;
        }

        /* Estilos para la barra de progreso */
        #rating {
            width: 100%;
            height: 20px;
        }

        /* Estilos para el campo de géneros y los botones */
        .genre-container {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        input[type="text"].genre {
            flex-grow: 1;
            margin-right: 10px;
        }

        .genre-buttons {
            display: flex;
            flex-direction: column;
        }

            .genre-buttons button {
                margin-top: 5px;
                font-size: 16px;
                width: 40px;
                background-color: #333;
                color: #fff;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                transition: background-color 0.3s ease;
            }

                .genre-buttons button:hover {
                    background-color: #555;
                }

        /* Estilos para centrar los botones */
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        /* Estilos para el nuevo contenedor de selección de imagen */
        .image-upload-container {
            flex-basis: 100%;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Create Movie</h1>
    <form method="POST" action="/add_movie" enctype="multipart/form-data">
        <div class="container">
            <div class="image-container">
                <img id="image-preview" src="#" alt="Vista previa de la imagen" style="display: none;">
            </div>
            <div class="text-div">
                <label for="poster">Imagen del Póster:</label>
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" required>
                <label for="synopsis">Sinopsis:</label>
                <textarea id="synopsis" name="synopsis" required></textarea>
                <label for="year">Año:</label>
                <input type="number" id="year" name="year" min="1990" max="2023">
                <label for="duration">Duración (hh:mm):</label>
                <input type="text" id="duration" name="duration" placeholder="hh:mm">
                <label for="rating">Calificación (1-10):</label>
                <input type="range" id="rating" name="rating" min="1" max="10" step="0.1">
                <div class="genre-container">
                    <label>Géneros:</label>
                    <div id="genres">
                        <!-- Sin etiqueta inicial -->
                        <button type="button" id="addGenre">+</button>
                        <button type="button" id="removeGenre">-</button>
                    </div>
                </div>
            </div>

            <!-- Nuevo contenedor para el botón "Seleccionar Imagen" -->
            <div class="image-upload-container">
                <label for="poster">Seleccionar Imagen:</label>
                <input type="file" id="poster" name="poster" accept="image/*" required class="file-upload-btn">
                <span class="file-name"></span>
            </div>
        </div>

        <div class="button-container">
            <button type="submit" name="action" value="accept">Aceptar</button>
            <button type="button" name="action" value="cancel" onclick="window.history.back();">Cancelar</button>
        </div>
    </form>
    <script>
        const posterInput = document.getElementById('poster');
        const imagePreview = document.getElementById('image-preview');
        const fileUploadBtn = document.querySelector('.file-upload-btn');
        const fileName = document.querySelector('.file-name');
        const imageContainer = document.querySelector('.image-container');

        posterInput.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                    imagePreview.style.width = '100%';
                    imagePreview.style.height = '100%';
                };
                reader.readAsDataURL(file);
                // Muestra el nombre del archivo seleccionado
                fileName.textContent = file.name;
            } else {
                imagePreview.style.display = 'none';
                fileName.textContent = '';
            }
        });

        // Código JavaScript para agregar y quitar campos de género
        const addGenreButton = document.getElementById('addGenre');
        const removeGenreButton = document.getElementById('removeGenre');
        const genresContainer = document.getElementById('genres');

        addGenreButton.addEventListener('click', function () {
            const genreInput = document.createElement('input');
            genreInput.type = 'text';
            genreInput.className = 'genre';
            genreInput.name = 'genre';
            genresContainer.appendChild(genreInput);
        });

        removeGenreButton.addEventListener('click', function () {
            const genreInputs = genresContainer.querySelectorAll('.genre');
            if (genreInputs.length > 1) {
                genresContainer.removeChild(genreInputs[genreInputs.length - 1]);
            }
        });
    </script>
</body>
</html>
