body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0;
}

.grid-layout{
    display: grid;
    width: 80%;
    /* background-color: aquamarine; 
    margin:auto;    
    padding: auto;
    border: 1px solid black; */

    height: 2000px;
    width: 85%;
    /* border: 10px solid rgb(144, 19, 19); */
    margin: auto;
    display: grid;
    background-color: aqua;
    grid-template-areas: 'header'
                         'main'
                         'footer';

    grid-template-rows: 455px 90% 10%;

}

.header-layout{
    grid-area: header;
    display: grid;
    grid-template-columns: 450px auto auto;
    grid-template-rows: auto auto auto;
    /* width: 450px; */
    height: 450px;
    /* border: 3px solid rgb(207, 32, 32); */
}

.header-caja{
    /* border: 2px solid black; */
    background-color: rgb(108, 160, 30);
    margin: 0;
    /* text-align: center; */
    align-content: center;
    
    
}

.hc1{  /*foto*/
    grid-row:1/4;
    width: 450px;
    height: 450px;
    margin: 0;
    /* background-color: rgb(92, 92, 92); */
    
}
/*nombre*/
.hc2{
    grid-column:2/3;
    height: 200px;
    margin: 0;
    color: white;
    background-color: rgb(92, 92, 92);
    text-align: center;
    display: grid;
    
}

/*iconos*/
.hc3{
    grid-column:3/4;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 200px;
    background-color: rgb(92, 92, 92);
}

/*trabajo*/
.hc4{
    grid-column:2/4;
    height: 70px;
    margin: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    /* margin-left: 50px; */
}

/* botones */
.hc5{
    grid-column:2/4; /* no tocar */
    height: 180px;
    margin: 0;
    background-color: rgb(134, 25, 99);
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: 100%;
    

    
}

/*/*/
.hc7{
    display: grid;
    background-color: blue;
    text-align: center;
}
.hc8{
    display: grid;
    background-color: rgb(29, 151, 94);
    text-align: center;
}
.hc9{
    display: grid;
    background-color: rgb(164, 190, 17);
    text-align: center;
}
.hc10{
    display: grid;
    background-color: rgb(182, 114, 26);
    text-align: center;
}









/***************/
.main-layout{
    grid-area: main;

    border: 8px solid rgb(115, 41, 162);
}

.footer-layout{
    grid-area: footer;

    border: 8px solid rgb(101, 12, 12);
}