
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.redd.it/rfoeak4gwd241.png');
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navbar a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

    .navbar a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
    }

    .navbar a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }

.navbar .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

    .navbar .btnLogin-popup:hover {
        background: #fff;
        color: #162938;
    }

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

    .wrapper.active-popup {
        transform: scale(1);
    }

    .wrapper.active {
        height: 520px;
    }

    .wrapper .form-box {
        width: 100%;
        padding: 40px;
    }

        .wrapper .form-box.login {
            transition: transform .18s ease;
            transform: translateX(0);
        }

    .wrapper.active .form-box.login {
        transition: none;
        transform: translateX(-400px);
    }

    .wrapper .form-box.register {
        position: absolute;
        transition: none;
        transform: translateX(400px);
    }

    .wrapper.active .form-box.register {
        transition: transform .18s ease;
        transform: translateX(0);
    }

    .wrapper .icon-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: #162938;
        font-size: 2em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        z-index: 1;
    }

.login-cont {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.login-register {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: #162938;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
        top: -5px;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: #162938;
        font-weight: 600;
        padding: 0 35px 0 5px;
    }

    .input-box .icon {
        position: absolute;
        right: 8px;
        font-size: 1.2em;
        color: #162938;
        line-height: 57px;
    }

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

    .remember-forgot label input {
        accent-color: #162938;
        margin-right: 3px;
    }

    .remember-forgot a {
        color: #162938;
        text-decoration: none;
    }

        .remember-forgot a:hover {
            text-decoration: underline;
        }

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

    .login-register p a {
        color: #162938;
        text-decoration: none;
        font-weight: 600;
    }

        .login-register p a:hover {
            text-decoration: underline;
        }



table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.icon-cell {
    text-align: center;
}

.ingresar-registrarse {
    align-content: center;
}

.login-body body {
    background-color: #f8f9fa;
}

.login-login {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el div contenedor */
.imagen-container {
    align-content:center;
    align-items:center;
    width: 100px; /* Ancho del contenedor */
    height: 100px; /* Altura del contenedor */
    border: 2px solid #ccc; /* Borde del contenedor */
    padding: 10px; /* Espaciado interior del contenedor */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra del contenedor */
}

    /* Estilos para la imagen */
    .imagen-container img {
        max-width: 100px; /* La imagen se ajustará al ancho del contenedor */
        height: 100px; /* Altura automática para mantener la proporción de aspecto */
    }


.login-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.login-logo img {
    width: 80px;
    height: 80px;
}
body {
    background-color: #f8f9fa;
}

.container-registro {
    max-width: 80%;
    margin: auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}




.title-registro {
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    margin-bottom: 20px;
}

.title-inicio-sesion {
    max-width: 400px;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.registro-body body{
    background-color: #f8f9fa;
}

.container-registro {
    max-width: 80%;
    margin: auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}



.title-registro {
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.ingresar-registrarse {
    align-content: center;
}

body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.login-logo img {
    width: 80px;
    height: auto;
}

.login-form {
    margin-bottom: 20px;
}

.title-inicio-sesion {
    max-width: 400px;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}