.footer {
  background: #6b0032;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer__logo span {
  color: #fff;
  font-weight: 500;
}

.footer__logo-content {
  color: rgba(255, 255, 255, 0.715);
  margin-top: 10px;
  line-height: 30px;
}

