@model MoneyBankMVC.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h4>Crear Cuenta</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group row my-4">
                <label asp-for="AccountType" class=" col-sm-3 control-label"></label>
                <div class="col-sm-9 row">
                    <div class="col-sm-6">
                        <div class="form-check form-check-inline">
                            <input asp-for="AccountType" value="A" type="radio" class="form-check-input" name="AccountType" id="radioAhorro">
                            <label class="form-check-label">Ahorros</label>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input asp-for="AccountType" value='C' type="radio" class="form-check-input " name="AccountType" id="radioCorriente">
                            <label class="form-check-label">Corriente</label>
                        </div>
                    </div>
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row my-4">
                <label asp-for="AccountNumber" class="col-sm-3 control-label"></label>
                <div class="col-sm-4">
                    <input asp-for="AccountNumber" class="form-control col-sm-9" />
                </div>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <span asp-validation-for="AccountNumber" class="text-danger "></span>
                    </div>
                </div>
            </div>

            <div class="form-group row my-4">
                <label asp-for="OwnerName" class="control-label col-sm-3"></label>
                <div class="col-md-9">
                    <input asp-for="OwnerName" class="form-control" />
                    <span asp-validation-for="OwnerName" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row my-4">
                <label asp-for="BalanceAmount" class="control-label col-sm-3"></label>
                <div class="col-md-6">
                    <input asp-for="BalanceAmount" class="form-control" />
                    <span asp-validation-for="BalanceAmount" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row my-4">
                <label asp-for="OverdraftAmount" class="control-label col-sm-3"></label>
                <div class="col-md-6">
                    <input asp-for="OverdraftAmount" class="form-control" id="overdraftAmount" disabled/>
                    <span asp-validation-for="OverdraftAmount" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group my-4">
                <input type="submit" value="Aceptar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary  mx-3">Cancelar</a>
            </div>
        </form>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const radioAhorro = document.getElementById("radioAhorro");
        const overdraftAmount = document.getElementById("overdraftAmount");

        radioAhorro.addEventListener("change", function () {
            if (radioAhorro.checked) {
                overdraftAmount.value = "0.00";
            }
        });
        
        radioCorriente.addEventListener("change", function () {
            if (radioCorriente.checked) {
                overdraftAmount.value = "1000000.00";
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
