@model MoneyBankMVC.Models.Account

@{
    ViewData["Title"] = "Crear Cuenta";
}

<h1>Crear Cuenta</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Tipo</label>
                <div class="col-sm-8">
                    <input type="radio" asp-for="AccountType" value="A" id="savings" required checked /> <label for="savings">Ahorros</label>
                    <input type="radio" asp-for="AccountType" value="C" id="current" required /> <label for="current">Corriente</label>
                    <span asp-validation-for="AccountType" class="text-danger"></span>
                </div>
            </div>


       
          
            <div class="form-group row mb-3">
                <label asp-for="AccountNumber" class="col-sm-4 col-form-label">Cuenta</label>
                <div class="col-sm-8">
                    <input asp-for="AccountNumber" class="form-control" placeholder="1234567890" />
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="OwnerName" class="col-sm-4 col-form-label">Propietario</label>
                <div class="col-sm-8">
                    <input asp-for="OwnerName" class="form-control" placeholder="John Alexander Doe Carter" />
                    <span asp-validation-for="OwnerName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="BalanceAmount" class="col-sm-4 col-form-label">Balance</label>
                <div class="col-sm-8">
                    <input asp-for="BalanceAmount" class="form-control" placeholder="200,00.00" />
                    <span asp-validation-for="BalanceAmount" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="OverdraftAmount" class="col-sm-4 col-form-label">Sobregiro</label>
                <div class="col-sm-8">
                    <input asp-for="OverdraftAmount" class="form-control" value="0.00" readonly style="background-color: #e9ecef;" />
                    <span asp-validation-for="OverdraftAmount" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Aceptar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-cancelar">Cancelar</a>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
