@model MoneyBankMVC.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-8">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="AccountType" value="A" id="savings" required checked />
                    <label class="form-check-label" for="savings">Ahorros</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="AccountType" value="C" id="current" required />
                    <label class="form-check-label" for="current">Corriente</label>
                </div>
                <span asp-validation-for="AccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerName" class="control-label"></label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalanceAmount" class="control-label"></label>
                <input asp-for="BalanceAmount" class="form-control" />
                <span asp-validation-for="BalanceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverdraftAmount" class="control-label"></label>
                <input asp-for="OverdraftAmount" class="form-control" />
                <span asp-validation-for="OverdraftAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
