@model MoneyBankMVC.Models.Account

@{
    ViewData["Title"] = "Eliminar Cuenta";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<style>

    .modal-confirm {
        color: #636363;
        width: 400px;
    }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
            padding: 10px 15px 25px;
        }

            .modal-confirm .modal-footer a {
                color: #999;
            }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            text-align: center;
           
        }

            .modal-confirm .icon-box i {
                color: #f15e5e;
                font-size: 46px;
                display: inline-block;
                margin-top: 13px;
            }

        .modal-confirm .btn, .modal-confirm .btn:active {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
        }

        .modal-confirm .btn-secondary {
            background: #c1c1c1;
        }

            .modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
                background: #a8a8a8;
            }

        .modal-confirm .btn-danger {
            background: #dc3545;
        }

            .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                background: #dc3545;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }

</style>



<h1>Eliminar Cuenta</h1>
<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Tipo</label>
                <div class="col-sm-8">
                    @if (Model.AccountType == 'A')
                    {
                        <span>Ahorros</span>
                    }
                    else if (Model.AccountType == 'C')
                    {
                        <span>Corriente</span>
                    }
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Cuenta</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.AccountNumber)
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Propietario</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.OwnerName)
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Balance</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.BalanceAmount)
                </div>
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-4 col-form-label">Sobregiro</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.OverdraftAmount)
                </div>
            </div>

            <div class="form-group mt-4">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">Eliminar</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación -->
<div id="deleteConfirmationModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <div class="icon-box">
                    <i class="bi bi-x-lg"></i>
                </div>
                <h4 class="modal-title w-100">¿Estas seguro?</h4>
                
            </div>
            <div class="modal-body">
                <p>¿Realmente desea eliminar estos registros? Este proceso no se puede deshacer.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
