@model MoneyBankMVC.Models.Account

@{
    ViewData["Title"] = "Informacion de la cuenta";
}

<h1>Informacion de la cuenta</h1>

<div class="row">
    <div class="col-md-4">
        <div class="form-group row mb-3">
            <label class="col-sm-4 col-form-label">Tipo</label>
            <div class="col-sm-8">
                @if (Model.AccountType == 'A')
                {
                    <span>Ahorros</span>
                }
                else if (Model.AccountType == 'C')
                {
                    <span>Corriente</span>
                }
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-4 col-form-label">Cuenta</label>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.AccountNumber)
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-4 col-form-label">Propietario</label>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OwnerName)
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-4 col-form-label">Balance</label>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.BalanceAmount)
            </div>
        </div>

        <div class="form-group row mb-3">
            <label class="col-sm-4 col-form-label">Sobregiro</label>
            <div class="col-sm-8">
                @Html.DisplayFor(model => model.OverdraftAmount)
            </div>
        </div>
    </div>
</div>

<div class="form-group mt-4">
    <a asp-action="Index" class="btn btn-success">Aceptar</a>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>
