@model MoneyBankMVC.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Cuenta</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label class="control-label font-weight-bold">Tipo</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="AccountType" value="Ahorros" checked>
                    <label class="form-check-label" for="AccountType">Cuenta de Ahorros</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="AccountType" value="Corriente">
                    <label class="form-check-label" for="AccountType">Cuenta Corriente</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label font-weight-bold">Cuenta</label>
                <input asp-for="AccountNumber" class="form-control" readonly />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label font-weight-bold">Propietario</label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label font-weight-bold">Balance</label>
                <input asp-for="BalanceAmount" class="form-control" readonly />
                <span asp-validation-for="BalanceAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label font-weight-bold">Sobregiro</label>
                <input asp-for="OverdraftAmount" class="form-control" readonly />
                <span asp-validation-for="OverdraftAmount" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success">Aceptar</button>
                <a asp-action="Index" class="btn btn-outline-secondary ml-2">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
