@model MoneyBankMVC.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Cuenta</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Tipo</label>
                <div>
                    <label class="radio-inline">
                        <input type="radio" asp-for="AccountType" value="A" readonly checked /> Ahorros
                    </label>
                    <label class="radio-inline">
                        <input type="radio" asp-for="AccountType" value="C" readonly /> Corriente
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" readonly />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerName" class="control-label"></label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalanceAmount" class="control-label"></label>
                <input asp-for="BalanceAmount" class="form-control" readonly />
                <span asp-validation-for="BalanceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverdraftAmount" class="control-label"></label>
                <input asp-for="OverdraftAmount" class="form-control" readonly />
                <span asp-validation-for="OverdraftAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
