.login-container{
font-family: 'Barlow', sans-serif;
background-color: #393939;
height: 90vh;
}

.login-title{
    color: #393939;
}

.btn-singup{
    background-color: #EF630E;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: white;
}

.btn-singup:hover {
  background-color: #EF630E;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.btn-Cancel{
  background-color: #393939;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: white;
}

.btn-Cancel:hover {
background-color: #393939;
color: white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.texto-responsivo {
    font-size: 1em;
  }
  
  @media (max-width: 768px) {
    .texto-responsivo {
      font-size: 0.7em; 
    }
  }