/*Style footer*/
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

.footer_content {
  background-color: #373839;
  width: 100%;
  height: auto;
  padding: 32px;
  margin-top: 32px;
  border-top: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: left;
}

.footer_botton_download {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  border-radius: 6px;
  border: 2px solid white;
}

.footer_logo {
  color: white;
  margin: 10px;
}

.footer_link_download {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 12px;
  padding: 5px;
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  .footer_content {
    padding: 20px; /* Padding reducido en dispositivos móviles */
    margin-top: 20px; /* Margen superior reducido en dispositivos móviles */
  }

  .footer_botton_download {
    margin-top: 16px; /* Margen superior reducido en dispositivos móviles */
  }

  .footer_logo {
    margin-left: 5px; /* Eliminamos el margen izquierdo en dispositivos móviles */
  }

  .footer_link_download {
    margin-top: 10px; /* Margen superior reducido en dispositivos móviles */
    margin-right: 0; /* Eliminamos el margen derecho en dispositivos móviles */
  }
}
