/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

/* Estilos del home */
.home {
  min-height: 100vh; /* Usamos min-height en lugar de height para evitar problemas en pantallas pequeñas */
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Estilos del home_container */
.home_container {
  display: flex;
  flex-direction: column;
  background-color: #2172e5;
  width: 100%;
  color: white;
  padding: 5px;
  height: 210px;
  margin-top: 115px;
}

/* Estilos del home_container_title */
.home_container_title {
  font-size: 40px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 20px;
}

/* Estilos del home_container_paragraph */
.home_container_paragraph {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 20px;
}

/* Estilos del home_container_2 */
.home_container_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: black;
  padding: 5px;
}

/* Estilos del home_container_3 */
.home_container_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: black;
  margin: auto;
  padding: 5px;
}

/* Styles for individual skill */
.skill {
  margin-bottom: 20px;
  width: 100%;
}

.skill_name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px;
  padding: auto;
}

.progress {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress_bar {
  height: 100%;
  background-color: #0b8e11;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* Styles for large screens (PCs and tablets) */
@media screen and (min-width: 768px) {
  .home_container_2,
  .home_container_3 {
    width: 98%;
  }

  .skill_name {
    font-size: 1.5rem;
  }
}

/* Styles for small screens (Android phones, iPhones) */
@media screen and (max-width: 767px) {
  .home_container {
    margin-top: 0px;
  }

  .home_container_2,
  .home_container_3 {
    width: 90%;
  }

  .skill_name {
    font-size: 1rem;
  }
}

/* Styles for very small screens (e.g., older iPhones, smaller Android phones) */
@media screen and (max-width: 480px) {
  .home_container {
    margin-top: 0px;
  }

  .home_container_2,
  .home_container_3 {
    width: 95%;
  }

  .home_container_title {
    font-size: 40px;
  }

  .home_container_paragraph {
    font-size: 1rem;
  }

  .skill_name {
    font-size: 0.9rem;
  }

  /* Display skills in a single column */
  .home_container_2 {
    flex-direction: column;
    align-items: start;
  }
}
