/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

/* Estilos del resume */
.resume {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Estilos del resume_container */
.resume_container {
  display: flex;
  flex-direction: column;
  background-color: #26a136;
  width: 100%;
  color: white;
  padding: 5px;
  height: 220px; /* Tamaño exacto del contenedor */
  box-sizing: border-box; /* Incluye el padding y border en el cálculo del tamaño */
  margin-top: 115px;
}

/* Estilos del resume_container_title */
.resume_container_title {
  font-size: 40px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 20px;
}

/* Estilos del resume_container_paragraph */
.resume_container_paragraph {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 20px;
}

/* Estilos del resume_container_2 */
.resume_container_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: black;
  padding: 5px;
}

/* Estilos para la tarjeta de presentación de proyectos */
.resume_container_3 {
  display: flex; /* Cambiar de grid a flex */
  flex-wrap: wrap; /* Asegurarse de que las tarjetas se envuelvan si no caben en una fila */
  justify-content: center; /* Centrar horizontalmente los elementos */
  color: black;
  padding: 5px;
}

.resume_card {
  width: 100%; /* Utilizar el ancho máximo del contenedor grid */
  max-width: 500px; /* Limitar el ancho máximo de las tarjetas */
  border-radius: 3px;
  margin-top: 20px;
  text-align: left;
  border: 1px solid black;
  box-sizing: border-box; /* Incluye el padding y border en el cálculo del tamaño */
  margin: 20px;
}

.resume_card_2{
  padding: 20px;
}

.card_title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 5px;
}

.card_paragraph {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

.card_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  margin-top: 20px;
}

.card_button {
  background-color: #3a3636;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  font-size: 25px;
  margin: 5px;
}

.card_date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-size: 20px;
  margin-left: 25px;
}

.card_content_date {
  background-color: #ececec;
  width: 100%;
  height: 60px;
  border-radius: 2px;
  margin-top: 10px;
  border-top: 1px solid black;
}


/* Media query del resume_container dispositivos mobiles quitar el margin top*/
@media (max-width: 768px) {
  .resume_container {
    margin-top: 0px;
  }
}
