/* Estilos generales */
body {
  margin: 0;
  padding: 0;
}

/* Estilos del work */
.work {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Estilos del work_container */
.work_container {
  display: flex;
  flex-direction: column;
  background-color: #e2a212;
  width: 100%;
  color: white;
  padding: 5px;
  height: 210px;
  margin-top: 115px;
}

/* Estilos del work_container_title */
.work_container_title {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 20px;
  font-size: 40px;
}

/* Estilos del work_container_paragraph */
.work_container_paragraph {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 20px;
}

/* Estilos del work_container_2 */
.work_container_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: black;
  padding: 5px;
}

/* Estilos para el grid de imágenes 2x2 */
.work_image_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr); /* Dos columnas de igual ancho */
  grid-gap: 5px; /* Espacio entre imágenes reducido para estilo galería */
}

/* Estilos para las imágenes en el grid */
.work_image_grid img {
  display: block;
  width: 100%; /* Permitir que las imágenes se ajusten al tamaño del contenedor */
  height: auto;
  border-radius: 10px; /* Agregar bordes redondeados para las imágenes */
}

/* Media queries para ajustar el grid de imágenes */
@media screen and (max-width: 768px) {
  .work_container {
    margin-top: 0px;
  }
  
  .work_image_grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
  }

  .work_image_grid img {
    max-width: 100%; /* Reducir el ancho de las imágenes para dispositivos más pequeños */
  }
}

@media screen and (max-width: 480px) {
  .work_container {
    margin-top: 0px;
  }

  .work_image_grid {
    grid-template-columns: repeat(1, 1fr); /* Una columna de ancho completo */
  }

  .work_image_grid img {
    max-width: 100%; /* Reducir el ancho de las imágenes para dispositivos más pequeños */
  }
}
