.cabecera{
    display: flex;
    flex-direction: row;
    height: 400px;
}

#cabecera__imagen{
    height: 100%;
}

.cabecera__derecha{
    display: flex;
    flex-direction: column;
    height: auto;
}

.grid-container-redes{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: auto;
    background-color: #353A40;
}

.grid-redes{
    padding-left: 15px;
    margin: auto;
    width:max-content;
}

h1{
    color: white;
    font-size: 40px;
}

p{
    color: white;
}


.cabecera__middle{
    display: grid;
    padding-left: 40px;
    height: 100px;
    align-items: center;
    background-color: black;
}

.grid-container-menu{
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

img{
    height: 70%;
}

.grid-container-menu button{
    border: none; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.grid-container-menu button:hover {
    opacity: 0.7;
  }

.Home{
    background: #007AFF;
}

.Resume{
    background: #26A844;
}

.Work{
    background: #FEC107;
}

.Contact{
    background: #DC3546;
}

