footer {
    display: flex;
    background-color: #333;
    color: #fff;
    align-items: center;
}

.foot button{
    font-size: 15px; 
    padding: 20px;
    margin: 50px;
    color: white;
    border-color: white;  
    display: flex;
    background-color: transparent;
    cursor: pointer;  
}

.foot button:hover {
    opacity: 0.7;
}

.foot img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}