/**GRID PRINCIPAL**/
.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 0;
    background-color: darkblue;
    
}

/** IZQUIERDA **/
img {
    width: 75%; 
    height: 100%;
}

/** DERECHA **/

.grid-right {
    background-color: darkgoldenrod;
    color: white;
    margin-left: -11%;
}

.name {
    background-color: cadetblue;
    height: 50%;
    display: flex;
}

.name li {
    list-style: none;
    display: flex;
    justify-content: left;
}

.name li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.specialty {
    background-color: coral;
    height: 15%;
    margin-top: -4%;
}

.options {
    background-color: darkmagenta;
    height: 35%;
    margin-top: -3px;
}
.options li {
    list-style: none;
    display: flex;
    justify-content: left;
}

.options li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
