/**GRID PRINCIPAL**/
.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 0;
    background-color: darkblue;
    
}

/** IZQUIERDA **/
img {
    width: 75%; 
    height: 100%;
}

/** DERECHA **/

.grid-right {
    background-color: darkgoldenrod;
    color: white;
    margin-left: -11%;
    display: inline-block;
}

.name {
    background-color: #353948;
    height: 50%;
    display: flex;
}

.name li {
    list-style: none;
    display: flex;
    justify-content: left;
}

.name li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.specialty {
    background-color: black;
    height: 15%;
}

.options {
    background-color: darkmagenta;
    height: 35%;
    margin-top: -3px;
}

.options button a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

button { 
    width: 24.7%;
    height: 100%;
    margin-left: 0;
}

#button1 {
    background-color: #007AFF;

}

#button2 {
    background-color: #25A843;
}

#button3 {
    background-color: #FCBF06;
}

#button4 {
    background-color: #DD3546;
}