.Color-Gray {
    background-color: #353A40;
}

.Color-LightGray {
    background-color: #F7F7F7;
}

.Color-Black{
    background-color: #000000;
} 

.Color-White{
    background-color: #FFFFFF;
} 

.Color-Blue{
    background-color: #007AFF;
} 

.Color-Green{
    background-color: #27A844;
} 

.Color-Yellow{
    background-color: #FEC107;
}

.Color-Red{
    background-color: #DC3546;
} 

.Color-Bar{
    background-color: #2DA643;
} 

