.click__work{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background: #FEC107;
}

#welcome__section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#welcome{
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 40px;
    height: 100%;
}

#welcome__message{
    height: 100%;
    padding-left: 60px;
    padding-bottom: 40px;
    color: white;
    font-size: 20px;
}

.projects{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

#intro{
    height: 100px;
    padding-top: 60px;
    padding-left: 50px;
    padding-bottom: 40px;
    width: 95%;
}

#intro__text{
    padding-top: 20px;
}

h4{
    font-size: 25px;
    color: black;
}

h5{
    font-size: 15px;
    color: black;
}

.container-projects{
    display: flex;
    flex-direction: column;
}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}



