@model MovieRankMVC.Models.Movie

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/stylecreate.css" />
    <!-- Agregar estilos de Bootstrap si no lo has hecho ya -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="display-4">Delete Movie</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <!-- Image Preview Section -->
                <div class="form-section">
                    <img id="imagePreview" src="~/images/@Model.Poster" alt="Poster Image Preview" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 mb-4">
                <!-- Details Section -->
                <div class="form-section">
                    <h3>Are you sure you want to delete this movie?</h3>
                    <dl class="row">
                        <div class="col-sm-12">
                            <dt class="details-label">@Html.DisplayNameFor(model => model.Id)</dt>
                            <dd class="details-value">@Html.DisplayFor(model => model.Id)</dd>
                        </div>

                        <div class="col-sm-12">
                            <dt class="details-label">@Html.DisplayNameFor(model => model.Title)</dt>
                            <dd class="details-value">@Html.DisplayFor(model => model.Title)</dd>
                        </div>

                        <!-- ... Repeat for other fields ... -->

                    </dl>

                    <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    <a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back to List</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this movie?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form asp-action="Delete">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Agregar scripts de Bootstrap y jQuery si no lo has hecho ya -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>