<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>LOGIN MIGUEL'S PIZZA</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin text-center shadow-lg p-3 mb-5">
  <form id="formLogin" action="/login" method="POST"> <!--esto hace referencia al login-->
    <img class="mb-4" src="img/logo2.svg" alt="" width="250" height="250">
    <!--<h1 class="h3 mb-3 fw-normal">Login</h1> -->

    <div class="form-floating">
      <input type="text" class="form-control" id="user" name="user" placeholder="User">
      <label for="user">User</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
      <label for="pass">Password</label>
    </div>

    <div class="checkbox mb-3">
    </div>
    <button class="w-100 btn btn-lg btn-bd-primary" type="submit">Ingresar</button>
  </form>
  <br>
  <a type="button" class="w-100 btn btn-lg btn-bd-primary">Registrarse</a>
</main>


    
  </body>
</html>