@{
    ViewData["Title"] = "Confirmación de Eliminación";
}

<h2>Confirmación de Eliminación</h2>

<p>La cuenta ha sido eliminada con éxito.</p>

<div>
    <a asp-action="Index" class="btn btn-primary">Volver a la lista de cuentas</a>
</div>
