/* Styles */
.bg-yellow{
    background-color: #f2e30e;
}

.text-blue {
    color: #342780;
    font-weight: bolder;
}

.text-blue:hover {
    color: #ffffff;
}

.text-title{
    color: #342780;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

.text-title:hover{
    color: #ffffff;
}

.svg-size-2{
    font-size: 2rem;
}

@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
  }

.carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}  