html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans;
    /* font-size: max(1.1vw, 12px); */
}

.grid-page {
    position: fixed;
    height: 33vh;
    display: grid;
    font-size: max(1vw,11px);
    /* border: 1px solid #ffeead; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 44% 24% 32%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    outline-style: groove;
    margin: 2px;
    z-index: 2;
}


.profile-picture img {
    grid-area: 1 / 1  / -1 / 3;
    margin: 0 0;
    width: 28vw;
    min-height: 25vh;
    max-height: 33vh;
    object-fit: cover;
    z-index: -1;
    transition: -webkit-filter 0.5s ease-in-out;
}

.profile-picture img:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#profile-container {
    grid-row: 1;
    grid-column: 2 / -1;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #323a41;
  
}

#profile-description {
    grid-row: 2;
    grid-column: 2 / -1;
    background-color: black;
    color: white;
    padding-left: 2vw;
    justify-content: center;
    transition: background-color 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: left;
}


#profile-description p {
    padding-top: 1%;
}

#profile-description:hover{
    background-color: white;
    color: black;
    font-style: italic;
}

#profile-description:hover p:after {
    content: " ... en construcción :D 👷🏼‍♂️";
}


#profile-name {
    font-size: 3em;
    font-weight: 300;
    padding: 5%;
    margin-left: .5vw;
    margin-right: .5vw;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

}

.socials {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 4%;
}

.socialico {
    padding-left: 15%;
    padding-right: 5%;

}

.socialico img {
    width: max(10px, 0.9vw);
    filter: invert(100%);
}

.profile-navbar {
    grid-row: 3;
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}


.profile-navbar a:focus , .profile-navbar-item:hover {
    transform: scale(1.1) translateY(3px);      
    transform: background-color 0.6s ease;
    background-color: #323a41;
    border-radius: 8px;    
}

.profile-navbar a:link{
    text-decoration: none;
    color: #ffe;
}

.profile-navbar a:visited{
   color: #ffe;
   text-decoration: none;
   transition: text-decoration 0.5s ease;
}


.profile-navbar-item {
    width: 19vw;
    height: 100%;
    background-color: var(--color);
    transition: background-color 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-navbar-item span {
    font-size: 2vw;
}

.profile-navbar-item:nth-child(1){
    --color: #097efb;
}

.profile-navbar-item:nth-child(2){
    --color: #31ac4c;
}

.profile-navbar-item:nth-child(3){
    --color: #fdc413;
}

.profile-navbar-item:nth-child(4){
    --color: #dd3e4e;
}


.grid-page > div {
    color: #ffe;
}

/* css general de componentes con los ++haxs htmx */

#lulpopup {
    position: absolute;
    top: 50%;
    transform: translate(30vw, -50%);
    max-width: 35vw;
    min-width: 100px;
    z-index: 3;
}

#page-content {
    width: 100%;
    transform: translateY(33vh);
}


#headerbanner {
    color: white;
    position: sticky;
    height: 20vh;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    font-size: 0.9em;
    line-height: 0.9;

}

/*
#headerbanner > div{
    text-align: center;
    margin: 0;
    top: 1vh;
}
*/
