body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans;
    font-size: 16px;
    /* font-size: max(1.1vw, 12px); */
}/*

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}*/

h1 {
    color:white;
    
}



/* mejorando el layout melo */
body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        /* "gridpics" */
        "sbody"
        "footer";
    grid-template-rows: 31vh 1fr 9vh;
}

.grid-page {
    top: 0;
    position: sticky;
    grid-area: header;
    min-height: 15vh;
    height: auto;
    margin: 0;
    display: grid;
    /* border: 1px solid #ffeead; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 42% 20% 38%;
    box-shadow: 0px 8px 5vh rgba(0, 0, 0, 0.4);
    /* outline-style: inset; */
    /* margin-top: 2px; */
    z-index: 2;
}


.profile-picture img {
    grid-area: 1 / 1  / -1 / 3;
    margin: 0 0;
    width: 33vw;
    min-height: 15vh;
    max-height: 31vh;
    object-fit: cover;
    z-index: -1;
    transition: -webkit-filter 0.5s ease-in-out;
}

.profile-picture img:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.profile-container {
    grid-row: 1;
    grid-column: 2 / -1;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #323a41;
  
}

.profile-description {
    grid-row: 2;
    grid-column: 2 / -1;
    background-color: black;
    color: white;
    padding-left: 2vw;
    justify-content: center;
    transition: background-color 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: left;
}


.profile-description p {
    padding-top: 1%;
    font-size: 0.6em;
}

.profile-description:hover{
    background-color: white;
    color: black;
    font-style: italic;
}

.profile-description:hover p:after {
    content: " ... en construcción :D ";
}


.profile-name {
    font-size: clamp(18px,4.2vw,48px);
    font-weight: 360;
    padding: 5%;
    margin-left: .5vw;
    margin-right: .5vw;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

}

.socials {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-left: 10%;
    /* margin-right: 4%; */
    padding-right: 5%;
}

.socialico {
    padding-left: 15%;
    padding-right: 5%;

}

.socialico img {
    width: clamp(11px, 1.2vw,18px);
    filter: invert(100%);
}

.profile-navbar {
    grid-row: 3;
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 0.7em;
    font-weight: 400;
    max-width: 67vw;
    background-color: #000;
}
.profile-navbar span {
    font-size: 1.3rem;
}
.profile-navbar a {
    font-size: 0.6rem;
}

.profile-navbar a:focus , .profile-navbar-item:hover {
    transform: scale(1.1) translate(-1.5vw, 3px);      
    transform: background-color 0.6s ease;
    background-color: #323a41;
    border-radius: 8px;
}

.profile-navbar a:link{
    text-decoration: none;
    color: #ffe;
}

.profile-navbar a:visited{
   color: #ffe;
   text-decoration: none;
   transition: text-decoration 0.5s ease;
}


.profile-navbar-item {
    width: 16.8vw; /* 66vw/4 */
    height: 11.8vh; /* 31vh *0.38 */ 
    /* si mantenemos las dims de la foto */
    background-color: var(--color);
    transition: background-color 0.6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-navbar-item:nth-child(1){
    --color: #097efb;
}

.profile-navbar-item:nth-child(2){
    --color: #31ac4c;
}

.profile-navbar-item:nth-child(3){
    --color: #fdc413;
}

.profile-navbar-item:nth-child(4){
    --color: #dd3e4e;
}


.grid-page > div {
    color: #ffe;
}

/* css general de componentes con los ++haxs htmx */
/*
.lulpopup {
    position: absolute;
    top: 50%;
    transform: translate(30vw, -50%);
    max-width: 35vw;
    min-width: 100px;
    z-index: 3;
}
*/

/* el iframe parece ignorar esta config */
/* aun asi usa la misma clase */
/* 
.headerbanner {
    grid-area: pagetitle;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.63em;
    line-height: 0.7;
    width: 100%;

} */
/* no tiene efecto en divs dentro del iframe */

/* 
.headerbanner  span {
    margin-top: -2vh;
}
.headerbanner h1,h2,h3 {
    font-weight: 480;
    font-size: 1.5em;
    margin-top: -2vh;
} */


/* main css */

.home-subtitulo {
    font-size: 0.5em;
    padding: 2vh 0 0 2vh;
    margin: 0;
    font-weight: 300;
    padding-right: 2vh;
}

.home-subtitulo h2 {
    font-size: 1.7em;
    font-weight: 430;
    padding-bottom: 1px;
}

/* footer css */

.footer-box {
    width: 100%;
    grid-area: footer;
    border-left:   1px inset #596069;
    border-right:  1px inset #596069;
    border-bottom: 1px inset #596069;
    background-color: #35393f;
    /* dynamic height :o :o unidades para el responsiveness */
    padding: 3.2vh 4vh;
    /*margin-top: 15vh;*/
    position: fixed;
    bottom: 0;
}
.download-box {
    border: inset 1px #e9edf0;
    color: white;
    padding: 0.7vh;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 400;
    width: -moz-fit-content; /* no olvidar soporte pa firefox  */
    width: fit-content;
    font-size: 0.5em;
}
/* toca acomodar el body para que no se coma el footer */
.body-container {
    grid-area: sbody;
    display: flex;
    flex-direction: column;
    /* min-height: calc(100vh - 23vh); */
    /* margin-top: -18vh; */
    font-size: 0.9em;
    /* margin-left: -1.25vw; */
    /* margin-right: -2vw; */
    width: 100%;
    padding: 0;
    height: auto;
    /* margin-bottom: 0; */
    /* min-height: 64vh; */
}/*
.body-container > div {
    flex-grow: 1;
}*/
/*
#headerbanner > div{
    text-align: center;
    margin: 0;
    top: 1vh;
}
*/
.body-container > iframe {
    height: 100vh;
    /* width: 100vw; */
    max-height: calc(100vh - 40vh);
    margin: 0;
    padding: 0;
    
}
