<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- tocó activar los haxs y despertar el only HTML -->
    <!-- full stack developer xD -->
    <!-- con HTMX, el HTML++ -->
    <!-- <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script> -->
    <!-- acomodando con iframe -->

    <title>John Doe's Site</title>
    <meta name="description" content="una tarea en html+css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- para los iconos cheveres -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="index.css" />
    <!-- No sirve referenciar el css de contenido en iframe -->
    <!-- Pero tampoco dentro del contenido... ? no lo entiendo -->
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/resume.css" />
  </head>
  <body>
    <div class="grid-page">
      <!-- practicamente el header -->
      <div class="profile-picture">
        <!-- <a href="gridfotos.html" target="gridfotos" title="gridhref"></a> -->
        <!-- <a href="gridfotos.html" hx-get="gridfotos.html" hx-target="#gridfotos"> -->
        <img
          src="https://th.bing.com/th/id/OIG.0voo7K0CvuJXXOhsKuAF?pid=ImgGn"
          title="lafotodeperfilde_johndoe"
          alt="unaimagen"
          width="440px"
          height="440px"
        />
      </div>

      <div class="profile-container">
        <div class="profile-name">John Doe</div>
        <div class="socials">
          <div class="socialico">
            <img
              src="https://www.svgrepo.com/show/89364/twitter-social-logotype.svg"
              alt="twitterlogo"
            />
          </div>
          <div class="socialico">
            <img
              src="https://www.svgrepo.com/show/500854/facebook.svg"
              alt="facebooklogo"
            />
          </div>
          <div class="socialico">
            <a href="/lul.html" target="popup-container" title="popup"></a>
            <!-- hx-get="lul.html" hx-target="#lulpopup"> -->
              <img
                src="https://www.svgrepo.com/show/494344/instagram.svg"
                alt="instagramlogo"
            /></a>
          </div>
          <div class="socialico">
            <a href="https://github.com/etensor">
              <img
                src="https://www.svgrepo.com/show/503359/github.svg"
                alt="githublogo"
            /></a>
          </div>
        </div>
      </div>

      <div class="profile-description">
        <p>Experienced Full Stack Web Developer</p>
      </div>

      <div class="profile-navbar">
        <a
          href="./pages/home.html"
          class="profile-navbar-item"
          target="iframeMain"
        >
          <span class="material-symbols-outlined">house</span>
          Home
        </a>
        <a
          href="pages/resume.html"
          class="profile-navbar-item"
          target="iframeMain"
        >
          <span class="material-symbols-outlined">school</span>
          Resume
        </a>
        <a
          href="pages/work.html"
          class="profile-navbar-item"
          target="iframeMain"
        >
          <span class="material-symbols-outlined">work</span>
          Work
        </a>
        <a
          href="pages/contact.html"
          class="profile-navbar-item"
          target="iframeMain"
        >
          <span class="material-symbols-outlined">mail</span>
          Contact
        </a>
      </div>
    </div>

    <!-- <div class="lulpopup" > -->
      <!-- <iframe name="popup-container" title="popupcont"></iframe> -->
    <!-- hx-toggle="true"></div> -->

    <div class="body-container">
      <!-- trigger,get:default content on load -->
      <!-- <div id="page-content" hx-toggle="true" hx-get="pages/resume.html" hx-trigger="load"></div> -->

      <!-- <div>hx-get="pages/home.html" hx-trigger="load"></div> -->

      <iframe
        src="pages/home.html"
        frameborder="0"
        title="default-home"
        name="iframeMain"
      ></iframe>
    </div>


    <!-- <script src="" async defer></script> -->
    <!-- footer -->
    <div class="footer-box">
      <div class="download-box">☁️ Download Resume</div>
    </div>
  </body>
</html>
