

.wrapper{
border: 1px solid black;
color: #000;
margin: 10px auto;
width: 90%;
}

header {
background: coral;
height: 5em;
width: 100%;
text-align: center;

}
header h1{
    margin: 10px;
    padding: 10px;
    top: 20px;
}
.container {
display: flex;
height: 10em;
}

aside {
background: lightgreen;
width: 30%;
}

.container-fluid {
background: lightblue;
width: 90%;

}

footer {
background: lightgray;
height: 5em;
width: 100%;
text-align: center;
}

img {
    height: 15em;
    width: 80%; 
    margin: 5%;
    padding: 5%;
}
.center {
text-align: center;
line-height: 4em;
font-weight: bold;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

ul li {
float: left;
}

ul li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

ul li a:hover {
background-color: #111;
}
ul .active {
background-color: #4CAF50;
}