.contact-img{
    background-image: url('../../../assets/contactUs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    position: relative;

}