@model MovieRankMVC.Models.User

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-action="Login">
    <div class="form-group">
        <label for="UserEmail">Email</label>
        <input asp-for="UserEmail" class="form-control" />
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<div class="mt-3">
    <a asp-action="Register" class="btn btn-link">Register</a>
</div>
