/* Default styles for larger screens */
.carousel-container {
    width: 100%;
    /* Make the carousel full-width by default */
}

/* Styles for screens with a width of 500px or less */



.btn-dark {
    margin-bottom: 4rem;
}


/* Estilo para el botón al hacer hover */
.btn:hover {
    background-color: #ff5833;
    /* Cambia el color de fondo al hacer hover */
    color: white;
    /* Cambia el color del texto al hacer hover */
    cursor: pointer;
    /* Cambia el cursor al hacer hover */
    
}